body, html {
    height: 100%;
}

h1 {
   font-family: 'Nanum Gothic Coding', monospace;
    font-size: 14vh;
}

h2 {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 7vh;
    font-size:6vw;
    padding: 30px;

}

h3 { 
    font-family: 'Nanum Gothic Coding', monospace;

}

p {
   font-family: 'Nanum Gothic Coding', monospace;
    font-size: 22px;
    color: white;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom: 30px;
    
}


.fs-img1 {
    /*the image used*/
    background-image: url("/img/title%20slide%20img.jpg");
    /*full height*/
    height: 100%;
    /*center and sacle the imaged nicely*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hs-img2 {
    /*the image used*/
    background-image: url("/img/hunger%202.jpeg");
    /*full height*/
    height: 50%;
    width:50%;
    /*center and sacle the imaged nicely*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hs-img3 {
    /*the image used*/
    background-image: url("/img/problems%20slide%20img.jpeg");
    /*full height*/
    height: 100%;
    /*center and sacle the imaged nicely*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hs-img4 {
    /*the image used*/
    background-image: url("/how%20to%20help%20img%203.jpg");
    /*full height*/
    height: 100%;
    /*center and sacle the imaged nicely*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.black-transparent {
    background-color: rgba(0,0,0,0.5)
}

/*Full screen video*/

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    left: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position:relative;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    max-width: 50%;
    min-height: 100%;
    padding: 15px;
}

@media
   #myVideo {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    height: 100%;
} 

